name: Publish to GitHub Pages

on:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v1

      - name: Crawl Convid-19 Data from Repo
        run: ./gradlew :crawler:crawlConvidRepo

      - name: Publish generated content to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v1.3.0
        with:
          build_dir: build/pages
          target_branch: gh-pages
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          GITHUB_PAT: ${{ secrets.GITHUB_PAT }}