name: Publish to GitHub Pages

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 * * * *'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v1

      - name: Cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-all-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-all-

      - name: Crawl Convid-19 Data from Repo
        run: ./gradlew :crawler:crawlConvidRepo

      - name: Publish generated content to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v1.3.0
        with:
          build_dir: build/pages
          target_branch: gh-pages
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          GITHUB_PAT: ${{ secrets.GITHUB_PAT }}